* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url(./assets/pngtree-blockchain-s-new-virtual-currency-exchange-a-3d-rendered-stack-of-picture-image_3649192.jpg);
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
}


main {
    width: 375px;
    background: rgba(235, 222, 154, 0.473);
    border-radius: 20px;
    margin: 0 auto 40px;
    padding: 44px 24px 23px;
    margin-top: -25px;

}
@media screen and (max-height: 800px) {
    main {
       width: 300px;
       height: 610px;
       margin-top: -50px;
       padding: 24px 14px 13px;
    }
}
@media screen and (max-width:700px) and (orientation: landscape){
    main{
        width: 550px;
        height: 400px;
        margin-top: 20px;
        padding: auto;
        
    }
    
}

.logo-pig-money {
    width: 250px;
    height: 210px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin: 5px auto;
}
@media screen and (max-height: 800px) {
    .logo-pig-money{
        width: 150px;
        height: 200px;
        margin-top: -10px;
    }
    
}
@media screen and (max-width: 700px) and (orientation: landscape) {
    .logo-pig-money{
        display: none;
    }
    
}

label {
    color: #020202;
    font-weight: 400;
    font-size: 14px;
}
@media screen and (max-height: 800px) {
    label {
        font-size: 12px;
       
    }
    
}

    


select {
    background: #fde88aec;
    border: 1px solid #bea411;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    padding-left: 18px;
    font-weight: 700;
    font-size: 14px;
    color: #555555;
    cursor: pointer;
}
@media screen and (max-height: 800px) {
    select {
        margin-top: -30px;
        height: 28px;
        margin-bottom: 10px;
       
    }
    
}
@media screen and (max-width: 700px) and (orientation: landscape) {
    select{
        width: 250px;
        display: block;
        margin-bottom: 45px;
        height: 40px;
        margin-top: 10px;
        margin-bottom: 25px;
    }
    
}

input {
    background: hsla(51, 93%, 30%, 0.226);
    border: 1px solid #000000;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    appearance: none;
    padding-left: 18px;
    font-weight: 700;
    font-size: 14px;
    color: #3b3b3b;
}
@media screen and (max-width: 700px) and (orientation: landscape) {
    input{
        width: 250px;
        display: block;
    }
    
}

button {
    background: #d1be16c9;
    border-radius: 5px;
    width: 100%;
    border: none;
    height: 48px;
    color: #202020;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}
@media screen and (max-width: 700px) and (orientation: landscape) {
    button{
        width: 250px;
        display: block;
    }
    
}

section {
    border: 1px solid #000000;
    border-radius: 20px;
    margin-top: 36px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.arrow {
    margin: 15px 0;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.currency {
    color: #000000;
    font-size: 14px;
}

.currency-value .currency-value-to-convert {
    color: #000000;
    font-weight: 700;
    font-size: 20px;
}
@media screen and (max-width: 700px) and (orientation: landscape) {
    section{
        width: 150px;
        float: right;
        margin-top: -325px;
        width: 200px;
        height: 350px;
    }
    
}

footer{
 position: relative;
 float: right;
 
}
@media screen and (max-height: 800px) {
    footer{
        margin-top: -30px;
        
    }
    
}
@media  screen and (max-width: 700px) and (orientation: landscape) {
    footer{
        margin-top: -20px;

    }
     
}

.logo-social-media{
    width: 30px;
    height: 30px;
}
@media screen and (max-height: 800px) {
    .logo-social-media{
        width: 20px;
        height: 22px;
        
    }
    
}
@media screen and (max-width: 700px) and (orientation: landscape) {
    .logo-social-media{
        width: 20px;
        height: 25px;
    }
    
}
.social-media{
    margin: 0 10px;
    cursor: pointer;
    text-decoration: none;
}